.banner{
    width:1200px;
    height:520px;
    margin:0 auto;
}
.banner img{
    width:1200px;
    height:520px;
}
.main{
    width:1200px;
    margin:0 auto;
}
.main .detail{
    width:1140px;
    height:255px;
    padding:0 30px 30px 30px;
}
.main .detail .detail_L{
    width:550px;
    height:255px;
    float: left;
}
.detail_L .detail_L_top>p{
    height:45px;
    line-height: 45px;
    display: flex;
    justify-content: space-around;
}
.detail_L .detail_L_top>p h3{
    width:400px;
    font-size:16px;

}
.detail_L .detail_L_top>p span{
    display: block;
    font-size: 20px;
    color:red;
}
.main .detail .detail_R{
    width:550px;
    height:255px;
    float: right;
}