<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>诺心蛋糕官网_生日蛋糕|水果蛋糕|芝士慕斯蛋糕|巧克力蛋糕-LE CAKE诺心蛋糕店网上订购</title>
    <link rel="stylesheet" href="../css/public.css">
    <link rel="stylesheet" href="../css/headFoot.css">
    <link rel="stylesheet" href="../css/swiper.min.css">
    <link rel="stylesheet" href="../css/cake_list.css">
</head>
<body>
    <div class="wrap">
        <div class="wrap_main">
            <dl class="tast">
                <dt>口味：</dt>
                <dd class="red">全部</dd>
                <dd>雪域特浓</dd>
                <dd>雪域口味</dd>
                <dd>巧克力味</dd>
                <dd>慕斯口味</dd>
                <dd>鲜果口味</dd>
                <dd>奶油口味</dd>
                <dd>芝士口味</dd>
            </dl>
            <dl class="spec">
                <dt>规格：</dt>
                <dd class="red">全部</dt>
                <dd>2-4人食</dd>
                <dd>5-8人食</dd>
                <dd>10-12人食</dd>
                <dd>15-20人食</dd>
            </dl>
        </div>
    </div>
    <div class="cake_list clearfix">

    </div>




    <script src="../js/jquery-1.11.0.min.js"></script>
    <script src="../js/jquery.js"></script>
    <script src="../js/jquery.min.js"></script>
    <script src="../js/swiper.min.js"></script>
    <script src="../js/ajax.js"></script>
    <script src="../js/cake_list.js"></script>
    <script src="../js/headFoot.js"></script>
</body>
</html>