<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>诺心蛋糕官网_生日蛋糕|水果蛋糕|芝士慕斯蛋糕|巧克力蛋糕-LE CAKE诺心蛋糕店网上订购</title>
    <link rel="stylesheet" href="../css/public.css">
    <link rel="stylesheet" href="../css/headFoot.css">
    <link rel="stylesheet" href="../css/swiper.min.css">
    <link rel="stylesheet" href="../css/details.css">
</head>
<body>
    <section>
        <div class="banner">
           <img src="" alt="">
        </div>
    </section>
    <section class="main clearfix">
        <div class="detail">
            <div class="detail_L">
                <div class="detail_L_top">
                    <p>
                        <h3>雪域牛乳芝士·特浓</h3>
                        <span>￥458</span>
                    </p>
                    <img src="" alt="">
                </div>
                <div class="detail_L_bottom"></div>
            </div>
            <div class="detail_R">
                <div class="detail_R_top">
                    <p><a>2-4人食</a><a>5-8人食</a><a>5-8人食</a><a>5-8人食</a><a>5-8人食</a></p>
                    <div class="canju">
                        <p>含10套餐具</p>
                        <p>约20x30x3cm</p>
                        <p>约910克</p>
                        <p>甜度</p>
                    </div>
                </div>
                <div class="detail_R_bottom">
                    <button class="jion_btn"></button>
                    <button class="buy_btn"></button>
                </div>
            </div>
        </div>
        <div class="jieshao"></div>
    </section>



    <script src="../js/jquery-1.11.0.min.js"></script>
    <script src="../js/jquery.js"></script>
    <script src="../js/jquery.min.js"></script>
    <script src="../js/jquery.bscslider.js"></script>
    <script src="../js/swiper.min.js"></script>
    <script src="../js/ajax.js"></script>
    <script src="../js/headFoot.js"></script>
    <script src="../js/details.js"></script>
</body>
</html>





