<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>诺心蛋糕官网_生日蛋糕|水果蛋糕|芝士慕斯蛋糕|巧克力蛋糕-LE CAKE诺心蛋糕店网上订购</title>
    <link rel="stylesheet" href="../css/public.css">
    <link rel="stylesheet" href="../css/headFoot.css">
    <link rel="stylesheet" href="../css/swiper.min.css">
    <link rel="stylesheet" href="../css/home.css">
</head>
<body>
    <section id="banner">
        <!-- Swiper -->
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <img src="../images/baner1.jpg" alt="加载失败">
                </div>
                <div class="swiper-slide">
                    <img src="../images/baner2.jpg" alt="加载失败">
                </div>
                <div class="swiper-slide">
                    <img src="../images/baner3.jpg" alt="加载失败">
                </div>
                <div class="swiper-slide">
                    <img src="../images/baner4.jpg" alt="加载失败">
                </div>
                <div class="swiper-slide">
                    <img src="../images/baner5.jpg" alt="加载失败">
                </div>
            </div>
            <!-- Add Arrows -->
            <div class="swiper-button-next btn"></div>
            <div class="swiper-button-prev btn"></div>
        </div>
    </section>
    <section id="shoping">
        <div id="coupon">
            <a href="#"><img src="../images/coupon.jpg" alt=""></a>
        </div>
        <div id="coupon">
            <a href="#"><img src="../images/coupon1.jpg" alt=""></a>
        </div>
        <div id="cake_list">
            <!-- <div class="cake">
                <a href="#"><img src="../images/cake01.jpg" alt="加载失败"></a>
                <p><a href="#">雪域牛乳芝士·特浓</a></p>
                <p><span>雪域牛乳芝士·特浓</span></p>
                <div class="buy">
                    <p>￥218</p>
                    <p><a href="#" class="red">加入购物车<span>></span></a></p>
                </div>
            </div> -->
        </div>
    </section>
    <div id="dessert_gift">
        <a href="#"><img src="../images/gift.jpg" alt=""></a>
    </div>
    <section>
        <div id="pinglun">
            <h2>最新评论</h2>
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <img src="../images/home1.jpg" alt="">
                        <p><span>185****1553</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span>2019-10-15</span></p>
                        <p>造型可爱 酸奶口味 不会太甜 家人都超喜欢!</p>
                    </div>
                    <div class="swiper-slide">
                        <img src="../images/home1.jpg" alt="">
                    </div>
                    <div class="swiper-slide">
                        <img src="../images/home1.jpg" alt="">
                    </div>
                    <div class="swiper-slide">
                        <img src="../images/home2.jpg" alt="">
                    </div>
                    <div class="swiper-slide">
                        <img src="../images/home2.jpg" alt="">
                    </div>
                    <div class="swiper-slide">
                        <img src="../images/home2.jpg" alt="">
                    </div>
                    <div class="swiper-slide">
                        <img src="../images/home3.jpg" alt="">
                    </div>
                    <div class="swiper-slide">
                        <img src="../images/home3.jpg" alt="">
                    </div>
                    <div class="swiper-slide">
                        <img src="../images/home3.jpg" alt="">
                    </div>
                </div>
                <!-- Add Pagination -->
                <div class="swiper-pagination"></div>
                <!-- Add Arrows -->
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
            </div>
        </div>
    </section>


    <script src="../js/jquery-1.11.0.min.js"></script>
    <script src="../js/jquery.js"></script>
    <script src="../js/jquery.min.js"></script>
    <script src="../js/jquery.bscslider.js"></script>
    <script src="../js/swiper.min.js"></script>
    <script src="../js/ajax.js"></script>
    <script src="../js/headFoot.js"></script>
    <script src="../js/home.js"></script>
</body>
</html>