<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>诺心蛋糕官网_生日蛋糕|水果蛋糕|芝士慕斯蛋糕|巧克力蛋糕-LE CAKE诺心蛋糕店网上订购</title>
    <link rel="stylesheet" href="../css/public.css">
    <link rel="stylesheet" href="../css/swiper.min.css">
    <link rel="stylesheet" href="../css/login_register.css">
</head>
<body>
    <!-- <section>
        <div id="top_fixed">
            <a href="#"><img src="../images/logo.png" alt=""></a>
        </div>
        <div id="main">
            <div class="login_wrap">
                <p><span>账号密码登陆</span></p>
                <p><i>😀</i><input type="text" placeholder="请输入账户"></p>
                <p><i>😀</i><input type="password" placeholder="请输入密码"></p>
                <p><input type="submit" value="登录></p>
                <p><a href="#">忘记密码</a></p>
                <p>还没有账号？<a href="#" style="color: red;">立即注册</a></p>
                <div class="type">
                    <h3>其他登陆方式</h3>
                    <a href="javascript:void(0)"><img src="" alt=""></a>
                    <a href="https://wx01.lecake.com/customer/union-login.html?t=qq&amp;return_url=/company/cake-coupon-exchange.html?act=portfolioCoupon" class="qq">
                        <img src="" alt="">
                    </a>
                </div>
            </div>
        </div>
        <div id="footer">
            <p>
                <a href="#">诺心公告</a>
                <a href="#">关于诺心</a>
                <a href="#">客户服务</a>
                <a href="#">食品经营许可证</a>
                <a href="#">生产许可证</a>
                <a href="#">预付费协议</a>
                <a href="#">联系我们</a>
            </p>
            <p><span>如有问题，请联系在线客服。工作时间：9:00-21:00</span></p>
            <p>copyright©2010-2019 诺心lecake.com版权所有 <a href="#">沪ICP备10211730号</a></p>
            <div class="erweima">
                <img src="../images/erweima.png" alt="">
                <span>微信公众号</span>
            </div>
        </div>
    </section> -->
    <div id="main">
            <div class="login_wrap" style="padding-left: 15px;">
                <form name="frm" ><!-- action="../php/login.php" method="GET"  onsubmit="return checkAll()" -->
                    <p>账号密码登陆</p>
                    <p><i>😀</i><input type="text" placeholder="请输入账户" name="user" onblur="checkUser()"></p><span></span>
                    <p><i>😀</i><input type="password" placeholder="请输入密码" name="pwd" onblur="checkPwd()"></p><span></span>
                    <p><input type="submit" value="登录" id="btn"></p>
                </form>
                <p><a href="#">忘记密码</a></p>
                <p>还没有账号？<a href="../view/register.html" style="color: red;">立即注册</a></p>
                <div class="type">
                    <h3>其他登陆方式</h3>
                    <a href="javascript:void(0)"><img src="" alt=""></a>
                    <a href="https://wx01.lecake.com/customer/union-login.html?t=qq&amp;return_url=/company/cake-coupon-exchange.html?act=portfolioCoupon" class="qq">
                        <img src="" alt="">
                    </a>
                </div>
            </div>
        </div>




    <script src="../js/jquery-1.11.0.min.js"></script>
    <script src="../js/jquery.js"></script>
    <script src="../js/jquery.min.js"></script>
    <script src="../js/swiper.min.js"></script>
    <script src="../js/ajax.js"></script>
    <script src="../js/login_register.js"></script>
    <script src="../js/login.js"></script>
    <script src="../js/publicCookie.js"></script>
</body>
</html>