<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>诺心蛋糕官网_生日蛋糕|水果蛋糕|芝士慕斯蛋糕|巧克力蛋糕-LE CAKE诺心蛋糕店网上订购</title>
    <link rel="stylesheet" href="../css/public.css">
    <link rel="stylesheet" href="../css/headFoot.css">
    <link rel="stylesheet" href="../css/swiper.min.css">
    <link rel="stylesheet" href="../css/shopCar.css">
</head>
<body>
    <section class="clearfix">
        <div class="title">
            <p><a href="home.html">▼继续购物</a></p>
            <h3>我的购物车(<span></span>)</h3>
        </div>
    </section>
    <section class="goodsList">
        <!-- <div class="goodsItem">
            <input type="checkbox">
            <img src="../images/cake01.jpg" alt="">
            <div class="goodsDetails_L">
                <h2><a href="">喵叽叽云顶小花曲奇礼盒（原味</a></h2>
                <p>280克</p>
                <p>￥128</p>
            </div>
            <div class="goodsDetails_R">
                <p>小计：<span>￥123</span></p>
                <p><i>-</i><input type="text" value="1"><i>+</i></p>
            </div>  
        </div> -->
    </section>
    <section class="amount">
        <div class="wrap">
            <div class="wrap_L" style="cursor: pointer;">
                <input type="checkbox" class="all">
                <span>全选</span>
                <span class="todo">删除</span>
            </div>
            <p>共<i class="total"></i>件商品，已选<span class="selecting">0</span>件</p>
            <div class="jiesuan">
                <p>应付:￥<b>0</b></p>
                <button class="jiesuan_btn" style="cursor: pointer;">结算</button>
            </div>
        </div>
    </section>




    <script src="../js/jquery-1.11.0.min.js"></script>
    <script src="../js/jquery.js"></script>
    <script src="../js/jquery.min.js"></script>
    <script src="../js/jquery.bscslider.js"></script>
    <script src="../js/swiper.min.js"></script>
    <script src="../js/ajax.js"></script>
    <script src="../js/headFoot.js"></script>
    <script src="../js/shopCar.js"></script>
</body>
</html>